$bars: black;
$box-main: #83d8a2b1;
$box-main-desktop: #8ce1ab;
$box-main-hover: #47c876b1;
$nav-main: #41a867;
$nav-main-hover: #47c876;
$section-button: #41a867da;
$pure-white: #fff;
$shadow: #1111115f;
$shadow-top-section: #11111171;
$navtext: black;
$form: #82D8A1;
