@use './colors' as c;
@use './components' as comp;
@use './mixins' as mix;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.6rem;
}

// NAV
.container {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100vh;
	height: calc(100 * var(--vh, 1vh));
	width: 100%;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 20px;
	.hero-heading {
		margin-top: 30%;
		font-size: 3rem;
		font-weight: normal;
		color: c.$pure-white;
		text-align: center;
	}
	.second {
		margin-top: 0%;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: inline;
	}
	.hero-heading-mid {
		font-size: 3.6rem;
		font-weight: 400;
		text-transform: uppercase;
		color: #4cff8e;
		text-align: center;
	}
	.cta-container {
		display: flex;
		justify-content: center;
		align-content: center;
		margin-bottom: 10vh;
		.cta {
			position: relative;
			padding: 15px 25px;
			background-color: c.$nav-main;
			border-radius: 13px;
			border: none;
			text-decoration: none;
			&:hover {
				background-color: c.$nav-main-hover;
				transition: background-color 0.3s;
			}

			.cta-text {
				color: c.$pure-white;
				font-size: 1.6rem;
				text-transform: uppercase;
			}
		}
	}
}

.burger-btn {
	position: fixed;
	top: 5px;
	right: 0;
	padding: 1.5em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 100000;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 5rem;
		height: 3rem;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include mix.burgerBtn;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 1.3rem;
			width: 60%;
		}
		&::before {
			top: 2.7rem;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}
.nav {
	position: fixed;
	height: 80px;
	width: 100%;
	background-color: c.$pure-white;
	border-radius: 0 0 10px 10px;
	z-index: 10;
	transition: all 0.3s ease-out;
}
.nav-list {
	display: none;
}
.nav-list-on {
	display: block;
}
.nav-active {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: #41a867;
	z-index: 10000;
	overflow: hidden;
	transition: all 0.3s ease-in;
	ul {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		li {
			list-style: none;
			padding: 2.5rem;
			width: 100%;
			border-bottom: 1px solid white;
			a {
				text-decoration: none;
				color: c.$pure-white;
				font-size: 3.5rem;
			}
		}
	}
}
.logo {
	height: 80px;
	width: 200px;
	border-radius: 20px;
	background-image: url('../img/Logo.jpeg');
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: left;
	z-index: 1000;
}

.nav-desktop {
	position: fixed;
	height: 80px;
	width: 100%;
	background-color: c.$pure-white;
	border-radius: 0 0 20px 20px;
	z-index: 100;
	top: 0;
	left: 0;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
	display: none;
	.logo-desktop {
		margin-left: 60px;
		height: 80px;
		width: 200px;
		border-radius: 20px;
		background-image: url('../img/Logo.jpeg');
		background-size: 200px;
		background-repeat: no-repeat;
		background-position: left;
		z-index: 1000;
	}
	ul {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
		overflow: hidden;
		li {
			list-style: none;
			text-align: center;
			a {
				text-decoration: none;
				padding: 1em 0.5em;
				color: c.$navtext;
				font-size: 2rem;
				letter-spacing: 1.1px;
				&:hover {
					color: #41a867;
					transition: 0.2s;
				}
			}
			.contact-button {
				background-color: #41a867;
				padding: 20px 40px;
				border-radius: 30px;
				color: c.$pure-white;
				&:hover {
					color: black;
					transition: 0.2s;
				}
			}
		}
	}
}

.hero {
	width: 100%;
	height: 100vh;
	.hero-shadow {
		// border-radius: 0 0 0 171px;
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: c.$shadow;
	}
	.hero-img {
		// border-radius: 0 0 0 171px;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url('../img/960x0.webp');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}
.info {
	position: relative;
	width: 100%;
	height: 100vh;
	.logo-first,
	.logo-second {
		display: none;
	}
	.info-background-box {
		position: absolute;
		bottom: 6%;
		right: 0;
		background-image: url('../img/artikkel-fysioterapi-1.webp');
		background-position: center;
		background-size: cover;
		width: 70%;
		height: 55%;
		border-radius: 100px 0 0 100px;
	}
	.info-box {
		position: absolute;
		top: 6%;
		left: 0;
		height: 65%;
		width: 85%;
		background-color: c.$box-main;
		padding: 20px;
		border-radius: 0 100px 100px 0;
		display: flex;
		.info-text {
			justify-content: center;
			overflow: scroll;
			align-content: center;
			font-size: 1.1em;
			line-height: 1.5;
		}
	}
}

.mid-section {
	height: 120px;
	width: 100%;
	.image-box {
		width: 100%;
		height: 100%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
			url('../img/Does-Physical-Therapy-Actually-Work.webp');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		.services-button {
			padding: 20px 15px;
			border-radius: 13px;
			border: none;
			background-color: c.$box-main-hover;
			color: c.$pure-white;
			text-decoration: none;
			font-size: 1.2em;
			box-shadow: 0 2px rgba(89, 89, 89, 0.565);
			&:hover {
				background-color: c.$box-main;
				transition: background-color 0.3s;
			}
		}
	}
}
.contact {
	display: flex;
	flex-direction: column;
	margin-right: 4em;
	margin-left: 4em;
	justify-content: center;
	.map-container {
		.map-text {
			span {
				font-weight: 500;
				font-size: 2rem;
			}
			text-align: center;
			margin-bottom: 1em;
			font-weight: 300;
			line-height: 1.5;
			font-size: 1.8rem;
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 2em;
		iframe {
			border-radius: 12px;
		}
	}

	.contact-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 3em 0 2em 0;
		font-size: 2rem;
		line-height: 1.5;
		.main {
			font-weight: 500;
		}
		.main-text {
			text-align: center;
			font-weight: 300;
			font-size: 2rem;
			margin-bottom: 0.5em;
		}
		.warning {
			font-size: 1.5rem;
		}

		.contact-app-button {
			margin: 3em 0;
			a {
				padding: 20px 30px;
				background-color: c.$form;
				text-decoration: none;
				color: c.$bars;
				border-radius: 10px;
			}
		}
	}
	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__form-label {
		margin-bottom: 0.2em;
		margin-left: 0.2em;
		text-transform: uppercase;
		color: c.$bars;
		font-weight: 300;
		align-self: flex-start;
	}

	&__form-input {
		@include mix.contactFrom;
		min-width: 300px;
	}
	&__form-textarea {
		@include mix.contactFrom;
		min-width: 100%;
		min-height: 200px;
		max-width: 400px;
		max-height: 600px;
	}

	&__form-btn {
		margin-top: 2rem;
		align-self: center;
		padding: 1em;
		width: 100%;
		max-width: 300px;
		color: c.$bars;
		border: none;
		border-radius: 8px;
		background-color: c.$form;
		cursor: pointer;
		font-size: 2rem;
		margin-bottom: 2rem;
		&::before {
			background-color: green;
		}
	}
	// .msg{
	// 	margin-left: 15%;
	// }
	.contact-text {
		margin: 2rem;
		text-align: center;
		font-size: 1.8rem;
		font-weight: 300;
		line-height: 1.5;
		color: c.$bars;
	}
}

.footer {
	margin-top: 2em;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	.desktop-adr {
		display: none;
	}
	i {
		font-size: 5rem;
		margin-right: 1em;
	}
	.footer__bottom-text {
		width: 100%;
		margin: 1rem auto 1.5rem auto;
		font-weight: 300;
		text-align: center;
		a {
			color: rgb(6, 208, 208);
			text-decoration: none;
			font-weight: 400;
		}
	}
}

// SERVICES

.top-section {
	position: relative;
	top: 60px;
	width: 100%;
	height: 120px;
	.top-section-shadow {
		position: absolute;
		border-radius: 0 0 20px 20px;
		height: 100%;
		width: 100%;
		background-color: c.$shadow-top-section;
	}
	.top-section-img {
		border-radius: 0 0 20px 20px;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		.top-section-heading {
			position: relative;
			font-weight: 400;
			text-align: center;
			line-height: 140px;
			color: c.$pure-white;
		}
	}
	.services-img {
		background-image: url('../img/top-section-1.jpeg');
	}
}
.services-text {
	position: relative;
	top: 60px;
	margin: 2em;
}

.services-box {
	position: relative;
	top: 60px;
	margin-left: 2em;
	margin-right: 2em;
	border-radius: 80px;
	line-height: 2;
	max-width: 366px;
	padding: 40px 40px;
	background-color: c.$box-main-desktop;
	box-shadow: 0 3px rgba(0, 0, 0, 0.2);
	margin-bottom: 2em;
	.services-box-heading {
		h3 {
			font-weight: 500;
			font-size: 1.8rem;
		}
		.services-box-list {
			margin-left: 0.8em;
			list-style: none;
		}
	}
	.second-heading {
		margin-top: 1em;
	}
}

.services-container {
	position: relative;
	top: 60px;
	padding-left: 2em;
	padding-right: 2em;
	background-color: c.$box-main-desktop;
	.service {
		display: inline-block;
		width: 100%;
		margin-bottom: 1em;
		background-color: c.$pure-white;
		border-radius: 50px;
		text-align: center;
		padding: 0 20px 10px 20px;
		h3 {
			position: relative;
			padding: 20px 20px 0px 20px;
			.arrow {
				position: absolute;
				top: 20px;
				right: 20px;
				font-size: 2rem;
				transition: transform 0.3s ease;
				cursor: pointer;
				&.rotated {
					transform: rotate(-180deg);
				}
			}
			.arrow-toggle {
				background: none;
				border: none;
			}
		}
		p {
			padding-top: 10px;
		}
	}
	.service-one {
		margin-top: 2em;
	}
	.service-three {
		margin-bottom: 2em;
	}
	.service-text {
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		padding-top: 0;
		transition: max-height 0.6s ease-in-out, opacity 0.5s ease-in-out, padding-top 0.3s ease-in-out,
			padding-bottom 0.3s ease-in-out;
		&.visible {
			max-height: 1000px; /* high enough to fit the content */
			opacity: 1;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}
.services-contact {
	padding-top: 2em;
}

// THERAPISTS

.therapists-img {
	background-image: url('../img/therapists.png');
}
.therapists {
	margin: 6em 1em 2em 1em;
	.therapists-text {
		text-align: center;
		margin-right: 1em;
		margin-left: 1em;
		margin-bottom: 2em;
	}
	.therapists-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
		padding: 0 1rem;
		max-width: calc(600px * 2 + 2rem); /* limit to 2 cards + gap */
		margin: 0 auto;
		.therapists-card {
			background-color: c.$box-main-desktop;
			border: 3px solid c.$box-main-desktop;
			flex: 1 1 100%;
			max-width: 250px;
			border-radius: 12px;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
			display: flex;
			flex-direction: column;
			opacity: 0;
			transform: translateY(40px);
			transition: opacity 0.6s ease, transform 0.6s ease, scale 0.2s ease;
			// perspective: 1000px;
			// position: relative;
			.card-img {
				width: 100%;
				height: 220px;
				background-size: cover;
				background-position: 1px center;
				background-repeat: no-repeat;
				border-radius: 12px;
			}
			.img-one {
				background-image: url('../img/img-one.png');
			}
			.img-two {
				background-image: url('../img/img-two.png');
			}
			.img-three {
				background-image: url('../img/img-three.png');
			}
			.img-four {
				background-image: url('../img/img-four.png');
			}
			.card-header,
			.card-text {
				padding: 1rem;
				text-align: center;
			}

			.card-buttons {
				display: flex;
				justify-content: center;
				gap: 1.5rem;
				padding: 1rem;
				margin-top: auto;
				flex-wrap: wrap;
				.card-button {
					padding: 0.6rem 1.2rem;
					border: none;
					border-radius: 12px;
					box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
					font-size: 1.5rem;
					color: black;
					cursor: pointer;
					transition: background-color 0.3s ease;
					min-width: 100px;
					text-align: center;
				}
				.button-about {
					background-color: c.$box-main-desktop;
					border: 2px solid white;
				}
				.button-contact {
					background-color: c.$pure-white;
					border: 2px solid transparent;
				}

				.button-about:hover {
					background-color: c.$pure-white;
				}
				.button-contact:hover {
					border-color: black;
				}
			}
		}
		.therapists-card.visible {
			opacity: 1;
			transform: translateY(0);
		}
		.therapists-card:hover {
			transform: translateY(0) scale(1.02);
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
		}
	}
	.card-info {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 1rem 2rem;
		border-radius: 12px;
		line-height: 1.15;
		background-color: c.$box-main-desktop;
		transition: opacity 0.3s ease;
		z-index: 2;
		.info-heading {
			text-align: center;
			font-weight: 500;
			margin-bottom: 1rem;
		}
		.first-ul {
			margin-bottom: 1em;
		}
		ul {
			margin-bottom: 0.5em;
			li {
				list-style: inside;
			}
		}
	}
	.mail-thomas {
		font-size: 1.3rem;
	}
	.info-mail {
		margin-bottom: 1em;
	}
	.card-info-contact {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		.info-heading {
			margin-bottom: 2em;
		}
	}

	.card-buttons {
		.card-button.button-about.info-appointment {
			text-decoration: none;
			padding: 2rem 3rem;
			font-size: 1.7rem;
		}
	}

	.therapists-card {
		position: relative;
		overflow: hidden;
	}

	.therapists-card.show-about .card-info-about,
	.therapists-card.show-contact .card-info-contact {
		opacity: 1;
		pointer-events: auto;
	}

	/* hide front content visually */

	.therapists-card.show-about > .card-img,
	.therapists-card.show-about > .card-header,
	.therapists-card.show-about > .card-text,
	.therapists-card.show-about > .card-buttons,
	.therapists-card.show-contact > .card-img,
	.therapists-card.show-contact > .card-header,
	.therapists-card.show-contact > .card-text,
	.therapists-card.show-contact > .card-buttons {
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;
	}
}

//APPOINTMENT

.appointment-img {
	background-image: url('../img/appointment.jpg');
}
.appointment-text {
	margin-bottom: 90px;
	text-align: center;
}
.button-book {
	padding: 2rem 3rem;
	background-color: c.$box-main-desktop;
	border: 3px solid white;
	border-radius: 12px;
	font-size: 2rem;
	box-shadow: 0px 1px rgba(0, 0, 0, 0.258);
	text-decoration: none;
	color: black;
}
.last {
	padding: 1.5rem 2rem;
}

//CONTACT

.contact-section {
	margin-bottom: 60px;
}

//FASILITETAR
.facili-img {
	background-image: url('../img/fysio1bygg.jpg');
	background-position: center;
}
.fac {
	margin: 6em 1em 2em 1em;
	.fac-heading {
		text-align: center;
		margin-right: 1em;
		margin-left: 1em;
		margin-bottom: 2em;
	}
	.fac-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
		padding: 0 1rem;
		max-width: calc(600px * 2 + 2rem); /* limit to 2 cards + gap */
		margin: 0 auto;

		.fac-card {
			background-color: white;
			flex: 1 1 100%;
			max-width: 350px;
			height: 340px;
			border-radius: 12px;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
			display: flex;
			flex-direction: column;
			cursor: pointer;
			.fac-card-img {
				position: relative;
				width: 100%;
				height: 280px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 12px 12px 0 0;
				box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.22);
			}
			.fac-card-img:hover {
				box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
				transition: all 0.3s;
			}

			.fac-img-one {
				background-image: url('../img/fysioavdeling.png');
			}
			.fac-img-two {
				background-image: url('../img/trening.png');
			}
			.fac-img-three {
				background-image: url('../img/lab.png');
			}
			.fac-card-text {
				width: 100%;
				text-align: center;
				line-height: 60px;
				font-size: 2rem;
			}
		}
		.fac-card:last-child {
			margin-bottom: 2em;
		}
	}
	.fac-container {
		.fac-card-alt {
			flex: 1 1 100%;
			max-width: 350px;
			height: 100px;
			border-radius: 12px;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
			display: flex;
			flex-direction: column;
			cursor: pointer;
			.fac-card-img-alt {
				position: relative;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 12px;
				box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
			}
			.fac-card-img-alt:hover {
				box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
				transition: all 0.3s;
			}

			.fac-img-one {
				background-image: url('../img/fysioavdeling.png');
			}
			.fac-img-two {
				background-image: url('../img/trening.png');
			}
			.fac-img-three {
				background-image: url('../img/lab.png');
			}
			.fac-card-text-alt {
				width: 100%;
				text-align: center;
				line-height: 100px;
				font-size: 2rem;
				color: white;
			}
		}
	}
}

// MEDIA
@media (min-width: 700px) {
	.therapists-card {
		flex: 1 1 calc(50% - 2rem); /* minus gap */
	}
}
@media (min-width: 768px) {
	.services {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		.services-text {
			max-width: 40%;
			font-size: 1.8rem;
		}
		.services-box {
			margin-top: 2em;
			width: 40%;
		}
	}
	.services-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		.service {
			width: 70%;
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		display: none;
	}
	.burger-btn {
		display: none;
	}
	.nav-desktop {
		display: flex;
	}
	.container {
		align-items: flex-start;
		justify-content: center;
		padding-left: 6em;
		.hero-heading {
			text-align: left;
			margin-top: 0;
			font-weight: 300;
		}
		.hero-heading-mid {
			margin-top: 0.5rem;
			font-size: 5.5rem;
		}
		.second {
			width: 60%;
			margin-bottom: 1em;
			margin-top: 0;
		}
		.desktop {
			display: inline;
		}
		.mobile {
			display: none;
		}
		.cta-container {
			margin-bottom: 0;
			.cta {
				padding: 15px 25px;
				box-shadow: 1px 3px rgba(101, 101, 101, 0.501);
				border: 1px solid rgba(255, 255, 255, 0.345);
				.cta-text {
					font-size: 2.5rem;
					letter-spacing: 1px;
				}
			}
		}
	}
	.info {
		// .logo-first {
		// 	display: inline-block;
		// 	position: absolute;
		// 	width: 22%;
		// 	top: 5em;
		// 	right: 15em;
		// }
		// .logo-second {
		// 	display: inline-block;
		// 	position: absolute;
		// 	width: 15%;
		// 	bottom: 12em;
		// 	left: 12em;
		// }
		.info-box {
			top: 20%;
			left: 10em;
			width: 40%;
			height: 60%;
			border-radius: 30px;
			box-shadow: 1px 3px rgba(0, 0, 0, 0.1);
			padding: 40px;
			background-color: c.$box-main-desktop;
			.info-text {
				font-size: 1.9rem;
			}
		}
		.info-background-box {
			right: 10em;
			bottom: 13%;
			height: 75%;
			width: 40%;
			border-radius: 100px 0 100px 100px;
			box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
		}
	}
	.mid-section {
		height: 240px;
		.image-box {
			background-position: top;
			.services-button {
				padding: 30px 80px;
				background-color: c.$section-button;
				font-size: 2.3rem;
			}
		}
	}
	.contact {
		flex-direction: row;
		margin-right: 6em;
		margin-left: 6em;
		.form-container {
			width: 33%;
		}
		.contact-container {
			width: 33%;
			margin: 4em 0;
		}
		.contact-text {
			margin: 4rem;
		}
	}
	.footer {
		justify-content: space-evenly;
		box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
		border-radius: 20px 20px 0 0;
		.logo {
			width: 200px;
			margin-left: 4em;
		}
		.desktop-adr {
			display: inline;
			text-align: center;
			font-size: 2rem;
		}
		i {
			margin-right: 4em;
			margin-left: 1em;
		}
		.footer__bottom-text {
			width: 100%;
			margin: 0rem auto 1rem auto;
			font-weight: 300;
			text-align: center;
			font-size: 1.2rem;
			a {
				color: rgb(6, 208, 208);
				text-decoration: none;
				font-weight: 400;
			}
		}
	}
	.top-section {
		height: 200px;
		.top-section-img {
			.top-section-heading {
				line-height: 200px;
				font-size: 3.5rem;
			}
		}
	}
	.services {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 6em;
		.services-text {
			max-width: 45%;
			font-size: 2.2rem;
		}
		.services-box {
			font-size: 1.9rem;
			max-width: 400px;
			border-radius: 50px 0 50px 50px;
			.services-box-heading {
				h3 {
					font-size: 2rem;
				}
			}
		}
	}
	.services-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		.service {
			width: 60%;
			h3 {
				font-size: 2.2rem;
			}
			p {
				font-size: 2rem;
			}
		}
	}
	.therapists {
		.therapists-container {
			.therapists-card {
				max-width: 450px;
				.card-img {
					background-position: center;
				}
			}
			.card-info {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100%;
			}
		}
	}
	.appointment-text {
		margin-bottom: 0;
	}
}
@media (min-width: 1405px) {
	.nav-desktop {
		ul {
			li {
				a {
					font-size: 2.3rem;
				}
			}
		}
	}
	.info {
		.info-box {
			.info-text {
				font-size: 2.1rem;
			}
		}
	}
	.services {
		.services-text {
			max-width: 700px;
		}
	}
}
@media (min-width: 1600px) {
	.info {
		display: flex;
		align-items: center;
		justify-content: center;
		.info-background-box {
			position: relative;
			order: 2;
			bottom: auto;
			right: 1em;
			height: 85%;
			width: 35%;
			max-height: 823px;
			max-width: 579px;
			border-radius: 100px 0 100px 100px;
			box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
		}
		.info-box {
			position: relative;
			order: 1;
			top: auto;
			left: 1em;
			width: 35%;
			height: 70%;
			max-width: 600px;
			max-height: 700px;
			border-radius: 30px;
			box-shadow: 1px 3px rgba(0, 0, 0, 0.1);
			padding: 55px;
			background-color: c.$box-main-desktop;
			z-index: 1;
			.info-text {
				font-size: 2.3rem;
			}
		}
	}
}
